.navbar {
  background-color: rgb(33, 37, 41);
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 50px;
}

.navbar-title {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  color: #FFFFFF;
}

.item-text-field {
  min-height: 20em;
  font-size: 16pt;
  width: 100%;
}

.item-content {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 140%;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.item-fill-custom-item-button {
  color: white;
  background-color: #525252;
  border-radius: 5pt;
  border-width: 0pt;
  align-self: center;
  overflow-x: scroll;
  white-space: nowrap;
  z-index: 1;
  height: 50px;
  margin-bottom: 0pt;
  padding: 12pt;
  min-width: 30%;
  font-size: 70%;
}

.item-fill-custom-item-button:focus {
  outline:0;
}

.item-fill-custom-item-button:hover {
  background-color: #626262;
}

.item-submit-button {
  color: white;
  background-color: #ff8a3d;
  border-radius: 5pt;
  border-width: 0pt;
  align-self: center;
  overflow-x: scroll;
  white-space: nowrap;
  z-index: 1;
  height: 50px;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 30pt;
  width: 40%;
  font-size: 120%;
}

.item-submit-button:focus {
  outline:0;
}

.item-submit-button:hover {
  background-color: #fe661c;
}

.item-section {
  background: clear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 10vw;
  font-size: 140%;
  font-weight: 500;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.item-section .item-tag {

  background-color: transparent;
  border-width: 0pt;
  margin: 2vw;
  color: #525252;
  font-size: 80%;
  -webkit-transition: font-size 1.5s;
  /* Safari */
  transition: font-size 1.5s;
  -webkit-transition: color 0.5s;
  /* Safari */
  transition: color 0.5s;
}

.item-section .item-tag:hover {
  border: none;
  margin: 2vw;
  color: #ff8a3d;
  font-size: 125%;
}

.item-section .item-tag:focus {
  outline:0;
}

.item-section .item-selected-tag {
  margin: 2vw;
  color: #ff8a3d;
  font-size: 145%;
}

p {
  font-size: 14pt;
}

.logo {
  padding: 16pt;
  font-size: 16pt;
}/* label color */
.input-field label {
  color: #ff8a3d;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ff8a3d;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff8a3d;
  box-shadow: 0 1px 0 0 #ff8a3d;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ff8a3d;
  box-shadow: 0 1px 0 0 #ff8a3d;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #FF0000;
  box-shadow: 0 1px 0 0 #FF0000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ff8a3d;
}
     
.field {
  width: 60%;
}

.content {
  position: relative;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
  text-align: center;
}

.error-title {
  margin: 32.0pt;
  font-size: 36.0pt;
  color:rgb(51, 51, 51);
}

.topic-container {
  margin: 32.0pt;
}

.topic {
  margin: 32.0pt;
  font-size: 40.0pt;
}